.Toping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Sheet {
  background-color: white;
  width: 230px;
  padding: 5px;
  margin-top: 140px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Types {
  display: flex;
  flex-direction: row;
}
.button {
  background-color: #3b82f6;
  border: 0px;
  color: white;
  width: 170px;
  border-radius: 4px;
  margin-bottom: 40px;
  font-size: small;
}

.Loginlogo {
  height: 20px;
  margin: 10px;
}
